<nav id="sidebar">
    <div class="container px-0">
        <div class="logo">
            <p class="text-center">J-log</p>
        </div>
        <div class="nav">
            <ul class="nav-list list-unstyled">
                <li class="nav-item">
                    <a class="nav-link" href="{{"/" | relative_url }}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{"/about" | relative_url }}">ABOUT</a>
                </li>
                <li class="nav-item">
                    <span class="nav-link">POSTS <i class="fa fa-sort-down fa-100px"></i></span>
                </li>
                <li class="nav-item sub">
                    <a class="nav-link" href="{{"/category/develop" | relative_url }}">- develop</a>
                </li>
            </ul>
        </div>
        <div class="side-footer fixed-bottom">
            <ul class="list-inline text-center">
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/{{ site.linked_username }}">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/{{ site.github_username }}">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                    </a>
                </li>
            </ul>
            <p class="copyright text-muted text-center">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}</p>
        </div>
    </div>
</nav>
