.post-preview {

  margin-top: 25px;
  .post-title {
    display: inline;
  }

  .post-meta {
    margin-left: 10px;
    display: inline;
  }

  .post-content {
    padding: 20px 0;
    margin: 0;
  }
}