.post-preview {

  margin-top: 25px;

  a {
    .post-title {
      display: inline;
      font-size: 1.5rem;
    }
  }


  .post-meta {
    margin-left: 10px;
    display: inline;
  }

  .post-content {
    padding: 5px 0;
    margin: 0;
  }
}