#sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 999;
  background: #000000;
  transition: all 0.3s;
  overflow-y: scroll;
  min-height: 800px;

  background-image: url("/img/bgkeyboard.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;

  &.active {
    left: 0;
  }

  .container {
    background-color: transparent;
    margin-top: 50px;

    .logo {
      p {
        color: #FFFFFF;
        font-size: 70px;
        font-weight: 400;
        font-family: 'Abril Fatface', cursive, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }
    }

    .nav {
      margin-top: 80px;
      padding-left: 20px;

      > ul.nav-list {
        > li.nav-item {
          > a {
            color: #FFFFFF;
            font-size: 20px;
            font-weight: 800;
            letter-spacing: 1px;
            text-transform: uppercase;

            &:hover {
              text-decoration: underline;
            }
          }

          > ul.sub-nav-list {
            color: #FFFFFF;

            > li.sub-nav-item {
              > a {
                color: #FFFFFF;
                font-size: 18px;
                font-weight: 100;
              }
            }
          }
        }
      }
    }

    .side-footer {
      position: absolute;

      a {
        color: #FFFFFF;
      }

      .fa {
        &.fa-inverse {
          color: #000000;
        }
      }

      .copyright {
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;

    &.active {
      margin-left: 0;
    }
  }
}