<!DOCTYPE html>

<html>

  {% include head.html %}

  <body>
    <div class="wrapper">
      {% include sidebar.html %}

      {% include navbar.html %}

      <div id="content" class="container-fluid">
        <nav class="navbar">
          <button type="button" id="close-sidebar">
            <span>Sidebar Close</span>
          </button>
        </nav>

          {{ content }}

          {% include footer.html %}

        </div>
    </div>

    <div class="overlay"></div>

    {% include scripts.html %}

  </body>

</html>
