---
layout: default
---

<div class="row mx-auto">
  <header class="wallpaper mx-auto">
    <img src="/img/favorite.png" />
  </header>
  <div class="px-4">

    <!-- Home Post List -->
    {% for post in site.posts limit : 5 %}

    <article class="post-preview">
      <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
        <h2 class="post-title">{{ post.title }}</h2>
      </a>
      <p class="post-meta">on {{ post.date | date: '%B %d, %Y' }}</p>
      <p class="post-content">{{ post.description }}</p>
    </article>

    <hr class="my-2">

    {% endfor %}

    <!-- Pager -->
    <div class="clearfix">
      <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
    </div>

  </div>
</div>
